<div class="input-form">
  <%= bootstrap_form_for @post do |f| %>
    <%= f.text_field :headline %>
    <%= f.text_field :category %>
    <%= f.text_field :content %>
    <%= f.submit "Submit" %>
  <% end %>
</div>
