<h2><%= @post.headline %></h2>
<p><%= @post.category %></p>
<p><%= @post.content %></p>
<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
<%= link_to 'Add comment', new_post_comment_path(@post) %>
<br>
<hr>
<% @post.comments.each do |comment| %>
  <%= comment.author %>
  <%= comment.entry %>
  <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
  <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
