<div class="each-post">
  <h2>
    <%= @post.headline %>
  </h2>
  <p>
    Posted on <%= @post.created_at.strftime("%d %b %y at %T") %>
  </p>
  <p>
    Category: <%= @post.category %>
  </p>
  <article>
    <%= @post.content %>
  </article>
  <br>
  <% if can? :update, @post %>
    <%= link_to 'Edit', edit_post_path(@post) %>
    <span>&nbsp;|&nbsp;</span>
  <% end %>
  <% if can? :destroy, @post %>
    <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
    <span>&nbsp;|&nbsp;</span>
  <% end %>
  <%= link_to 'Add comment', new_post_comment_path(@post) %>
  <br>
  <h2>Comments</h2>
  <hr>
</div>

<% @post.comments.each do |comment| %>
  <div class="each-comment">
    <p>
      By <%= comment.author %>
    </p>
    <p>
      Posted on <%= comment.created_at.strftime("%d %b %y at %T") %>
    </p>
    <article>
      <%= comment.entry %>
    </article>
    <% if current_user == comment.user%>
        <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
        <span>&nbsp;|&nbsp;</span>
        <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>
    <br>
  </div>
<% end %>
