<!DOCTYPE html>
<html>
  <head>
    <title>EmergencyReportSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default header-stuff">
      <% if user_signed_in? %>
        <p>
          Hello <%= current_user.email %> - <%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete'%>
        </p>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
      <% end %>

      <%= link_to 'Back to home', posts_path, :class => "btn btn-primary home-btn" %>
    </div>
    <div class="alert-messages">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
